.git/
.github/
.ruff_cache/
.venv/
.pytest_cache/
node_modules/
screenshots/
demo/
*.md
.DS_Store
.cspellcache
.editorconfig
.gitignore
.npmrc
biome.json
cspell.yml
justfile
package.json
pnpm-lock.yaml
