env:
    CI: 1

jobs:
    build:
        # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            # https://just.systems/man/en/github-actions.html
            - name: Install Just
              uses: extractions/setup-just@v3

            - name: Install uv
              uses: astral-sh/setup-uv@v5

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Install dependencies
              run: just install

            - name: Lint
              run: just lint

            - name: Spellcheck
              run: just spellcheck

name: build

on:
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:
